.flex
    display: flex

.space-between
    justify-content: space-between

.flex-end
    justify-content: flex-end

.wrap
    flex-wrap: wrap

.horizontal-center
    justify-content: center

.vertical-center
    align-items: center
