body
    background-color: $bg-color
    font-family: $main-font
    font-size: $main-font-size
    color: $main-black

#app
    height: 100vh

.wrapper
    height: 100vh

.container
    margin: 0 auto
    width: $full-width
    padding-top: $nav-height + $main-padding
