body
    background-color: $bg-color
    font-family: $main-font
    font-size: $main-font-size

#app
    height: 100vh

.wrapper
    height: 100vh

.container
    margin: 0 auto
    width: $main-width
