@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #EF4836;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f4f4f4;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100vh;
}

.wrapper {
  height: 100vh;
  padding-top: 64px;
}

.container,
.sm-container,
.mid-container {
  margin: 0 auto;
  width: 1130px;
  padding-top: 20px;
}

.without-padding {
  padding: 0 !important;
}

.sm-container {
  width: 600px;
}

.mid-container {
  width: 910px;
}

.blue-bg {
  background-color: #19B5FE !important;
}

.red-bg {
  background-color: #EF4836;
}

.green-bg {
  background-color: #87D37C !important;
}

.white-bg {
  background-color: #fff;
}

.secondary-link {
  color: #aaa;
}

.blue {
  color: #19B5FE;
}

.green {
  color: #87D37C;
}

.red {
  color: #EF4836;
}

.gray {
  color: #aaa;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.horizontal-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  position: fixed;
  z-index: 999999;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar .navbar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 64px;
  height: 64px;
  padding: 0 20px;
}

.navbar .navbar-inner .navbar-left {
  width: 60%;
}

.navbar .navbar-inner .navbar-left .nav-logo {
  width: 200px;
  font-weight: bold;
  font-size: 20px;
}

.navbar .navbar-inner .navbar-left .nav-search {
  width: 66%;
}

.navbar .navbar-inner .navbar-left .nav-search .nav-search-form {
  width: 100%;
  position: relative;
}

.navbar .navbar-inner .navbar-left .nav-search .nav-search-form .nav-search-text {
  width: 100%;
  font-size: 14px;
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  padding: 12px;
  outline: none;
  color: #666;
}

.navbar .navbar-inner .navbar-left .nav-search .nav-search-form .nav-search-text::-webkit-input-placeholder {
  color: #aaa;
}

.navbar .navbar-inner .navbar-left .nav-search .nav-search-form .nav-search-text:-ms-input-placeholder {
  color: #aaa;
}

.navbar .navbar-inner .navbar-left .nav-search .nav-search-form .nav-search-text::-ms-input-placeholder {
  color: #aaa;
}

.navbar .navbar-inner .navbar-left .nav-search .nav-search-form .nav-search-text::placeholder {
  color: #aaa;
}

.navbar .navbar-inner .navbar-left .nav-search .nav-search-form .nav-search-btn {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.2);
  padding: 0 12px;
  line-height: 40px;
  outline: none;
  cursor: pointer;
}

.navbar .navbar-inner .navbar-left .nav-search .nav-search-form .nav-search-btn:hover {
  color: rgba(0, 0, 0, 0.4);
}

.navbar .navbar-inner .nav-right {
  width: 40%;
}

.navbar .navbar-inner .nav-right .nav-categories-btn {
  color: #888;
  margin-left: 20px;
  font-weight: bold;
}

.navbar .navbar-inner .nav-right .navbar-nav {
  line-height: 48px;
}

.navbar .navbar-inner .nav-right .navbar-nav .nav-link {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  margin-left: 15px;
  border-radius: 100%;
  padding: 12px;
  border: 2px solid rgba(0, 0, 0, 0.02);
  color: #888;
}

.navbar .navbar-inner .nav-right .navbar-nav .nav-link:hover {
  background-color: #f4f4f4;
  border: 2px solid rgba(0, 0, 0, 0.05);
  color: #EF4836;
}

.navbar .navbar-inner .nav-right .navbar-nav .nav-image-link {
  display: block;
}

.navbar .navbar-inner .nav-right .navbar-nav .nav-guest-link {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  margin-left: 5px;
  padding: 12px 10px;
  color: #888;
  font-weight: bold;
}

.navbar .navbar-inner .nav-right .navbar-nav .nav-guest-link:hover {
  color: #EF4836;
}

.sub-navbar {
  display: none;
  padding: 15px 0 5px 0;
  position: fixed;
  z-index: 999;
  top: 64px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.04);
}

.sub-navbar .sub-nav-categories {
  width: 1130px;
  margin: 0 auto;
}

.nav-categories-dropdown:hover .sub-navbar {
  display: block;
}

.nav-user {
  position: relative;
}

.user-dropdown {
  display: none;
  position: absolute;
  width: 200px;
  right: 0;
  top: 54px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.user-dropdown .dropdown-arrow {
  position: absolute;
  height: 20px;
  width: 46px;
  text-align: center;
  right: 0px;
  top: -20px;
  color: rgba(0, 0, 0, 0.08);
  line-height: 20px;
}

.user-dropdown li {
  line-height: 24px;
}

.user-dropdown li a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  padding: 10px 20px;
  color: #666;
}

.user-dropdown li a:hover {
  background-color: rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.user-dropdown li:last-child a {
  border-radius: 0 0 4px 4px;
}

.user-dropdown .dropdown-link {
  display: block;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  padding: 10px 20px;
  line-height: 24px;
  color: #666;
}

.user-dropdown .dropdown-link:hover {
  background-color: rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nav-user:hover .user-dropdown {
  display: block;
}

.content {
  width: 600px;
}

.sm-content {
  width: 420px;
  margin: 20px auto;
}

.single-content-top {
  margin-bottom: 20px;
}

.single-content-top .single-content-img {
  margin-right: 10px;
}

.single-content-top .single-content-img img {
  width: 64px;
  height: 64px;
  border-radius: 4px;
}

.single-content-top .single-content-img img.sml-img {
  width: 32px;
  height: 32px;
}

.sidebar {
  width: 290px;
}

.leftbar {
  width: 200px;
}

.card,
.project-card,
.head-content {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  width: calc(100% - $main-padding * 2);
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}

.sm-padding {
  padding: 10px 20px;
}

.project-card {
  width: 560px;
}

.project-info {
  width: calc(100% - 111px);
}

.project-name a {
  color: #666;
}

.project-description {
  color: #888;
  margin-bottom: 20px;
}

.project-image img {
  width: 96px;
  height: 96px;
  border-radius: 10px;
}

.category-cards {
  margin-bottom: 20px;
  position: relative;
}

.category-cards ::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.category-cards .ending-shadow {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3));
}

.category-cards ul {
  overflow: auto;
  white-space: nowrap;
  height: 63px;
  width: 100%;
}

.category-card {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 4px;
}

.category-card a {
  display: block;
  width: auto;
  line-height: 60px;
  font-weight: bold;
  color: #fff;
  padding: 0 20px;
}

.category-card:last-child {
  margin-right: 0px;
}

.sm-category-card {
  line-height: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sm-category-card a {
  display: block;
  background-color: #f8f8f8;
  padding: 3px 10px;
  border-radius: 4px;
  color: #999;
  border: 1px solid rgba(0, 0, 0, 0.02);
  font-weight: bold;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.sm-category-card a:hover {
  color: #666;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.card-links li a {
  display: block;
  color: #888;
  line-height: 32px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  padding: 10px 5px;
  font-weight: bold;
}

.card-links li a svg {
  width: 20px !important;
  display: inline-block;
}

.card-links li a:hover {
  background-color: rgba(0, 0, 0, 0.02);
  color: #666;
}

.content-title {
  margin-bottom: 20px;
}

.card-title {
  color: #888;
  margin-bottom: 20px;
}

.profile-title {
  font-size: 24px;
  color: #888;
  font-weight: 400;
  margin-top: 10px;
}

.headline {
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
  position: relative;
  text-align: center;
}

.headline h1 {
  color: #fff;
}

.head-content {
  padding: 10px 0 0 0 !important;
}

.head-mid {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 20px 0;
  text-align: center;
}

.head-mid p {
  color: #aaa;
}

.profile-nav {
  padding: 20px 0 5px 0;
}

.profile-nav li {
  display: inline-block;
  margin: 0 10px;
}

.profile-nav li a {
  display: block;
  color: #aaa;
  font-weight: bold;
  padding: 5px;
}

.profile-nav li a span {
  color: #666;
}

.profile-nav li.profile-nav-active {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.profile-nav li:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.comments {
  margin-top: 20px;
  margin-left: 20px;
}

.comments .comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px 0;
}

.comments .comment .comment-right {
  margin-left: 10px;
  padding: 3px 0;
  width: calc(100% - 60px);
}

.comments .comment .comment-right a {
  font-weight: bold;
  color: #666;
  font-size: 14px;
}

.comments .comment .comment-right p {
  color: #888;
  display: block;
  margin: 5px 0;
  font-size: 15px;
}

.comments .comment:last-child {
  border: none;
}

.tool-chips li {
  display: inline-block;
}

.tool-chips li a {
  display: block;
  padding: 4px 6px;
  background-color: #f8f8f8;
  margin-right: 3px;
  margin-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  color: #888;
  font-weight: bold;
  border-radius: 4px;
}

.tool-chips li a:hover {
  background-color: #19B5FE;
  color: #fff;
}

.category-chip {
  display: inline-block;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 11px;
  background-color: #19B5FE;
  color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.liked-users li {
  display: inline-block;
  margin-right: 10px;
}

.button {
  color: #fff;
  line-height: 24px;
  padding: 8px 10px;
  background-color: #EF4836;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

.full-btn {
  width: 100%;
}

.bolder-btn {
  font-weight: bold;
  letter-spacing: 0.4px;
}

.card-button {
  background-color: #f8f8f8;
  color: #999;
  margin-left: 10px;
  font-size: 12px;
  line-height: 18px;
}

.side-btn {
  margin-bottom: 20px;
}

.view-all {
  line-height: 36px;
  color: #aaa;
  padding: 0 5px;
}

.circle-image {
  border-radius: 100%;
}

.size-24 {
  width: 24px;
  height: 24px;
}

.size-30 {
  width: 30px;
  height: 30px;
}

.size-36 {
  width: 36px;
  height: 36px;
}

.size-42 {
  width: 42px;
  height: 42px;
}

.size-48 {
  width: 48px;
  height: 48px;
}

.size-54 {
  width: 54px;
  height: 54px;
}

.size-60 {
  width: 60px;
  height: 60px;
}

.size-66 {
  width: 66px;
  height: 66px;
}

.size-72 {
  width: 72px;
  height: 72px;
}

.size-78 {
  width: 78px;
  height: 78px;
}

.profile-image img {
  border-radius: 100%;
  width: 72px;
  height: 72px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  position: relative;
}

.form-label {
  display: block;
  font-size: 14px;
  color: #aaa;
}

.form-text {
  width: calc(100% - 20px);
  padding: 0 10px;
  height: 42px;
  line-height: 22px;
  margin-top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
}

select.form-text {
  width: 100%;
}

.form-text::-webkit-input-placeholder {
  color: #aaa;
}

.form-text:-ms-input-placeholder {
  color: #aaa;
}

.form-text::-ms-input-placeholder {
  color: #aaa;
}

.form-text::placeholder {
  color: #aaa;
}

.form-icon {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px 10px;
  height: 12px;
  width: 12px;
  padding: 4px;
  color: #aaa;
  border: 1px solid transparent;
  border-radius: 100%;
}

.form-icon-success {
  color: #87D37C;
  border: 1px solid #87D37C;
}

.form-icon-fail {
  color: #EF4836;
  border: 1px solid #EF4836;
}

.form-textarea {
  max-width: 100%;
  height: 160px;
  line-height: 20px;
  padding: 10px;
}

.social-links li a {
  display: block;
  color: #aaa;
  line-height: 32px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.social-links li a svg {
  width: 20px !important;
  display: inline-block;
}

.social-links li a:hover {
  color: #888;
}

.activity-links li {
  color: #aaa;
  margin-bottom: 20px;
}

.activity-links li a {
  color: #888;
  line-height: 24px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.activity-links li a svg {
  width: 20px !important;
  display: inline-block;
}

.activity-links li a:hover {
  color: #888;
}

.activity-links li a.project-link {
  display: block;
  color: #EF4836;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 5px 10px;
  color: #666;
  font-weight: bold;
}

