.navbar
    background-color: #fff
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
    .navbar-inner
        display: flex
        justify-content: space-between
        align-items: center
        line-height: 48px
        padding: 6px 0
        .navbar-nav
            .nav-link
                padding: 0 10px    
