.navbar
    position: fixed
    z-index: 999999
    width: 100%
    background-color: #fff
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04)
    .navbar-inner
        display: flex
        justify-content: space-between
        align-items: center
        line-height: $nav-inner-height
        height: $nav-inner-height
        padding: 0 20px
        .navbar-left
            width: 60%
            .nav-logo
                width: $left-width
                font-weight: bold
                font-size: 20px
            .nav-search
                width: 66%
                .nav-search-form
                    width: 100%
                    position: relative
                    .nav-search-text
                        width: 100%
                        font-size: $main-font-size
                        background-color: #f8f8f8
                        border-radius: $main-radius
                        border: 1px solid rgba(0,0,0,0.03)
                        padding: 12px
                        outline: none
                        color: #666
                    .nav-search-text::placeholder
                        color: #aaa
                    .nav-search-btn
                        position: absolute
                        right: 0
                        background: none
                        border: none
                        color: rgba(0,0,0,0.2)
                        padding: 0 12px
                        line-height: 40px
                        outline: none
                        cursor: pointer
                    .nav-search-btn:hover
                        color: rgba(0,0,0,0.4)
        .nav-right
            width: 40%
            .nav-categories-btn
                color: #888
                margin-left: 20px
            .navbar-nav
                line-height: 48px
                .nav-link
                    @include transition(.1s)
                    margin-left: 15px
                    border-radius: 100%
                    padding: 12px
                    border: 2px solid rgba(0,0,0,0.02)
                    color: #888
                .nav-link:hover
                    background-color: #f4f4f4
                    border: 2px solid rgba(0,0,0,0.05)
                    color: $main-link-color
                .nav-image-link
                    display: block

.sub-navbar
    display: none
    padding: 15px 0 5px 0
    position: fixed
    z-index: 999
    top: 64px
    left: 0px
    width: 100%
    background-color: #fff
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.04), 0px 2px 4px rgba(0,0,0,0.04)
    .sub-nav-categories
        width: $full-width
        margin: 0 auto

.nav-categories-dropdown:hover .sub-navbar
    display: block
