.button
    color: #fff
    line-height: 24px
    padding: 10px
    background-color: $main-link-color
    border-radius: $main-radius
    border: 1px solid rgba(0,0,0,0.04)
    font-size: 14px
    cursor: pointer

.full-btn
    width: 100%

.bolder-btn
    font-weight: bold
    letter-spacing: 0.4px

.card-button
    background-color: #f8f8f8
    color: #999
    padding: 5px 8px
    margin-left: 10px
    font-size: 12px
    line-height: 18px

.category-chip
    display: block
    line-height: 18px
    font-size: 12px
    font-weight: bold
    padding: 5px 8px
    background-color: $blue
    color: #fff
    border-radius: $main-radius
    border-bottom: 1px solid rgba(0,0,0,0.1)
